In [56]:
import pandas as pd
import numpy as np
import os
import plotly.plotly as py
import plotly.graph_objs as go
import gc
pd.options.display.max_columns=None
import traceback
from sklearn.model_selection import train_test_split
import pickle
import datetime as dt
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
import re

In [2]:
zee="F:\ScoreData\Zee TV\Data_from_search_envn"
os.chdir(zee)

In [3]:
ldr=os.listdir()
print(ldr)

['Day 1', 'Day 2', 'Day 2.zip', 'Day 3', 'Day 3.zip', 'Day1.rar', 'max_ratings.csv', 'Older search data', 'ratings.csv', 'Show queries.xlsx', 'sm_data', 'sony-tv-show-dus-ka-dum-Mentions.xls']

In [122]:
news_ln=['No','Source','Host','Link','Date(ET)','Time(ET)','LocalTime','Category','Author ID','Author Name','Author URL','Authority','Followers','Following','Age','Gender','Language','Country','Province/State','City','Location','Sentiment','Themes','Classifications','Entities','Alexa Rank','Alexa Reach','Title','Snippet','Contents','Summary','Bio','Unique ID','Post Source']
blogs_ln=['No','Source','Host','Link','Date(ET)','Time(ET)','LocalTime','Category','Author ID','Author Name','Author URL','Authority','Followers','Following','Age','Gender','Language','Country','Province/State','City','Location','Sentiment','Themes','Classifications','Entities','Alexa Rank','Alexa Reach','Title','Snippet','Contents','Summary','Bio','Unique ID','Post Source']
tumbler_ln=['No','Source','Host','Link','Date(ET)','Time(ET)','LocalTime','Category','Author ID','Author Name','Author URL','Authority','Followers','Following','Age','Gender','Language','Country','Province/State','City','Location','Sentiment','Themes','Classifications','Entities','Alexa Rank','Alexa Reach','Title','Snippet','Contents','Summary','Bio','Unique ID','Post Source']
instagram_ln=['No','Source','Link','Date(ET)','Time(ET)','Author ID','Author Name','Language','Location','Contents','HashTags','Likes','Comments','Attachments','Brand Images','Object Images','Food Images','Scene Images','Selfie','Sentiment','Themes','Classifications','Entities','Unique ID']
twitter_ln=['No','Source','Host','Link','Date(ET)','Time(ET)','LocalTime','Category','Author ID','Author Name','Author URL','Authority','Followers','Following','Age','Gender','Language','Country','Province/State','City','Location','Sentiment','Themes','Classifications','Entities','Alexa Rank','Alexa Reach','Title','Snippet','Contents','Summary','Bio','Unique ID','Post Source']
forum_ln=['No','Source','Host','Link','Date(ET)','Time(ET)','LocalTime','Category','Author ID','Author Name','Author URL','Authority','Followers','Following','Age','Gender','Language','Country','Province/State','City','Location','Sentiment','Themes','Classifications','Entities','Alexa Rank','Alexa Reach','Title','Snippet','Contents','Summary','Bio','Unique ID','Post Source']
sm_dict={'NEWS':news_ln,
        'TUMBLR':tumbler_ln,
        'BLOGS':blogs_ln,
        'INSTAGRAM':instagram_ln,
        'TWITTER':twitter_ln,
        'FORUMS':forum_ln}
sm_pd_dict={'NEWS':pd.DataFrame(),
        'TUMBLR':pd.DataFrame(),
        'BLOGS':pd.DataFrame(),
        'INSTAGRAM':pd.DataFrame(),
        'TWITTER':pd.DataFrame(),
        'FORUMS':pd.DataFrame()}
bad_files=list()
k=0
for dr in ldr:
    print("Directory: ",dr)
    while os.path.isdir(dr):
        os.chdir(os.path.join(zee,dr))
        lst=os.listdir()
        for fle in lst:
            if k>1e10:
                break
            k+=1
            try:
                data=pd.read_csv(fle,skiprows=13,header=None,error_bad_lines=False,dtype=str)
                for kys in sm_dict.keys():
                    news=data[data[1]==kys]
                    news=news.iloc[:,:len(sm_dict[kys])]
                    news.columns=sm_dict[kys]
                    sname=fle.split(".")[0]
                    pattern=re.compile(r"(\d|\s)")
                    nname=pattern.sub("",sname)
                    news['showname']=sname
                    news['nname']=nname
                    if kys=='INSTAGRAM':
                        news['LocalTime']=pd.to_datetime(news['Date(ET)']+' '+news['Time(ET)'])
                    else:
                        news['LocalTime']=pd.to_datetime(news['LocalTime'])
                    sm_pd_dict[kys]=pd.concat([sm_pd_dict[kys],news],axis=0)
                    del news
                gc.collect()
                print("{} file done".format(fle))
            except Exception as e:
                print(e)
                bad_files.append(fle)
                print("{} issue in this file-------------------------------------------------".format(fle))
#                 traceback.print_exc()
                continue
    os.chdir(zee)
for dt in sm_pd_dict.values():
    dt.dropna(axis='columns',how='all',inplace=True)
    dt.reset_index(drop=True,inplace=True)

Directory:  Day 1
ALADDIN NAAM TOH SUNA HOGA-Mentions.csv file done
andtvofficial-show-bitti-businesswali-Mentions.csv file done
andtvofficial-show-high-fever-Mentions.csv file done
BEECHWALE BAPU DEKH RAHA HAI-Mentions.csv file done
BIGGBOSS 1-Mentions.csv file done
BIGGBOSS 2-Mentions.csv file done
BIGGBOSS 3-Mentions.csv file done
BIGGBOSS 4-Mentions.csv file done
colors-tv---show--dance-deewane-Mentions.csv file done
colors-tv-show-dastan-e-mohabbat-Mentions.csv file done
colorstv-show-belan-wali-bahu-Mentions.csv file done
colorstv-show-bepannaah-Mentions.csv file done
colorstv-show-dev-Mentions.csv file done
colorstv-show-internet-wala-love-Mentions.csv file done
ENTERTAINMENT KI RAAT-Mentions.csv file done
sony-tv--show---cid-Mentions.csv file done

b'Skipping line 20260: expected 52 fields, saw 54\n'

sony-tv-show-dus-ka-dum-Mentions.csv file done
sony-tv-show-indian-idol-Mentions.csv file done
sonytv-show-crime-patrol-Mentions.csv file done
sonytv-show-zindagikecrossroads-Mentions.csv file done
zee-tv---show---ishq-subhan-allah-Mentions.csv file done
zee-tv---show---juzzbaaat-Mentions.csv file done
zee-tv-shows-fear-files-Mentions.csv file done
zeetv-show-aap-ke-aa-jane-se-Mentions.csv file done
zeetv-show-did-lil-masters-Mentions.csv file done
zeetv-shows-india-best-dramebaaz-Mentions.csv file done
Directory:  Day 2
HARSHAAKHPEULLUBAITHAAHAI-Mentions.csv file done
INDIA KE MAST KALANDAR-Mentions.csv file done
JIJAJICHHATPARHAIN-Mentions.csv file done
KHICHDI-Mentions.csv file done
KRISHNACHALILONDON-Mentions.csv file done
NAZAR-Mentions.csv file done
sonysab-show-namune-Mentions.csv file done
sonysab-show-saat-phero-ki-hera-pherie-Mentions.csv file done
sonysab-show-shriman-shrimati-phir-se-Mentions.csv file done
sonysab-show-supersister-Mentions.csv file done
star-plus-show-danceplus-Mentions.csv file done
star-plus-show-dil-hai-hindustani--Mentions.csv file done
starplus-show-kasautii-zindagi-kay 1-Mentions.csv file done
starplus-show-kasautii-zindagi-kay 10-Mentions.csv file done
starplus-show-kasautii-zindagi-kay 11-Mentions.csv file done
starplus-show-kasautii-zindagi-kay 2-Mentions.csv file done
starplus-show-kasautii-zindagi-kay 3-Mentions.csv file done
starplus-show-kasautii-zindagi-kay 4-Mentions.csv file done
starplus-show-kasautii-zindagi-kay 5-Mentions.csv file done
Too many columns specified: expected 52 and found 25
starplus-show-kasautii-zindagi-kay 6-Mentions.csv issue in this file-------------------------------------------------
starplus-show-kasautii-zindagi-kay 7-Mentions.csv file done
starplus-show-kasautii-zindagi-kay 8-Mentions.csv file done
starplus-show-kasautii-zindagi-kay 9-Mentions.csv file done
starplus-show-kulfi-kumar-bajewala-Mentions.csv file done
starplus-show-mariam-khan-reporting-live-Mentions.csv file done
starplus-show-qayamat-ki-raat-Mentions.csv file done
starplus-show-sabse-smart-kaun-Mentions.csv file done
Directory:  Day 2.zip
Directory:  Day 3
andtv-show-perfect-pati-Mentions.csv file done
andtvofficial-show-laal-ishq-Mentions.csv file done
andtvofficial-show-love-me-india-Mentions.csv file done
andtvofficial-show-mitegi-lakshmanrekha-Mentions.csv file done
andtvofficial-show-vikram-betaal-Mentions.csv file done
colors-tv-show-naagin-Mentions.csv file done
colors-tv-show-rising-star-Mentions.csv file done
colorstv-show-kasam-Mentions.csv file done
colorstv-show-kaun-hai-Mentions.csv file done
colorstv-show-roop-mard-ka-naya-swaroop-Mentions.csv file done
colorstv-show-savitri-devi-college-and-hospital-Mentions.csv file done
colorstv-show-silsila-badalte-rishton-ka-Mentions.csv file done
sonytv-show-prithvi-vallabh-Mentions.csv file done
sonytv-shows-yeh-pyaar-nahi-tho-kya-hai-Mentions.csv file done
THE VOICE INDIA KIDS-Mentions.csv file done
zeetv---show---kaleerein-Mentions.csv file done
zeetv-show-ye-teri-galiyan-Mentions.csv file done
zeetv-shows-maggie-kitchen-journeys-Mentions.csv file done
zeetv-shows-sa-re-ga-ma-pa-Mentions.csv file done
Directory:  Day 3.zip
Directory:  Day1.rar
Directory:  max_ratings.csv
Directory:  Older search data
CHANDRASHEKAR-Mentions.csv file done
COMEDY CIRCUS-Mentions.csv file done
DetectiveDidi-Mentions.csv file done
DIL HI TO HAI -Mentions.csv file done
Guddan-Mentions.csv file done

b'Skipping line 960: expected 52 fields, saw 53\n'

IndiasGotTalent-Mentions.csv file done
JIO DHAN DHANA DHAN LIVE-Mentions.csv file done
KAUN BANEGA CROREPATI 1-Mentions.csv file done

b'Skipping line 2774: expected 52 fields, saw 53\nSkipping line 4188: expected 52 fields, saw 53\n'

KAUN BANEGA CROREPATI 2-Mentions.csv file done
KAUN BANEGA CROREPATI 3-Mentions.csv file done
MAIN MAIKE CHALI JAUNGI-Mentions.csv file done
MAYAVI MALING-Mentions.csv file done
PAPA BY CHANCE-Mentions.csv file done
RADHAKRISHN-Mentions.csv file done
Directory:  ratings.csv
Directory:  Show queries.xlsx
Directory:  sm_data
Directory:  sony-tv-show-dus-ka-dum-Mentions.xls

In [123]:
sm_pd_dict['TWITTER'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1097031 entries, 0 to 1097030
Data columns (total 31 columns):
No                 1097031 non-null object
Source             1097031 non-null object
Host               1097031 non-null object
Link               1097031 non-null object
Date(ET)           1097031 non-null object
Time(ET)           1097031 non-null object
LocalTime          1097031 non-null datetime64[ns]
Author ID          1096896 non-null object
Author Name        1096705 non-null object
Author URL         1096896 non-null object
Authority          1096896 non-null object
Followers          1096896 non-null object
Following          1096896 non-null object
Gender             760372 non-null object
Language           1097031 non-null object
Country            648249 non-null object
Province/State     332377 non-null object
City               327449 non-null object
Location           855316 non-null object
Sentiment          1097031 non-null object
Themes             570981 non-null object
Classifications    631262 non-null object
Entities           631275 non-null object
Snippet            1097031 non-null object
Contents           1097031 non-null object
Summary            936306 non-null object
Bio                917451 non-null object
Unique ID          1097031 non-null object
Post Source        1097031 non-null object
showname           1097031 non-null object
nname              1097031 non-null object
dtypes: datetime64[ns](1), object(30)
memory usage: 259.5+ MB

In [126]:
with open('sm_data','wb') as sm:
    pickle.dump(sm_pd_dict,sm)

In [4]:
with open('sm_data','rb') as sm:
    sm_pd_dict=pickle.load(sm)

In [5]:
twitter=sm_pd_dict['TWITTER'].copy()
twitter.Contents=twitter.Contents.str.lower()
twitter['original']=~twitter.Contents.str.startswith(('rt','qt'))
cnt_unique=twitter[twitter.original].groupby('nname')['Unique ID'].count().to_frame()

In [6]:
twitter.head()

,No,Source,Host,Link,Date(ET),Time(ET),LocalTime,Author ID,Author Name,Author URL,Authority,Followers,Following,Gender,Language,Country,Province/State,City,Location,Sentiment,Themes,Classifications,Entities,Snippet,Contents,Summary,Bio,Unique ID,Post Source,showname,nname,original
0,1,TWITTER,http://www.twitter.com,http://twitter.com/asinthiya992/statuses/10356...,2018-08-31,18:12:42,2018-08-31 18:12:42,asinthiya992,Sinthiya Ahmed,http://twitter.com/asinthiya992,4,151,455,MALE,Estonian,NaN,NaN,NaN,NaN,NEUTRAL,NaN,NaN,NaN,Hehehe #maddo #aladdin 😂😂 Oh jaane tamanna kid...,hehehe #maddo #aladdin 😂😂 oh jaane tamanna kid...,NaN,Just Believe In Yourself 🖤,1035651620565004289,Twitter Web Client,ALADDIN NAAM TOH SUNA HOGA-Mentions,ALADDINNAAMTOHSUNAHOGA-Mentions,True
1,2,TWITTER,http://www.twitter.com,http://twitter.com/AasifSh53933046/statuses/10...,2018-08-31,15:52:32,2018-08-31 15:52:32,AasifSh53933046,Aasif Shaikh,http://twitter.com/aasifsh53933046,2,25,234,NaN,Hindi,NaN,NaN,NaN,NaN,NONE,NaN,NaN,NaN,"September ko raat 9 baje, in ‘Aladdin Naam Toh...","rt @sabtv: jiska tha sabko intezaar, aa gaya h...","RT @sabtv: Jiska tha sabko intezaar, aa gaya h...",NaN,1035616346292150272,Twitter for Android,ALADDIN NAAM TOH SUNA HOGA-Mentions,ALADDINNAAMTOHSUNAHOGA-Mentions,False
2,3,TWITTER,http://www.twitter.com,http://twitter.com/ManikraoJadhav/statuses/103...,2018-08-31,14:30:16,2018-08-31 14:30:16,ManikraoJadhav,Balaji Manikrao Jadhav,http://twitter.com/manikraojadhav,2,17,279,MALE,Hindi,NaN,NaN,NaN,Mg.Road.A.Nagar,NONE,NaN,NaN,NaN,"September ko raat 9 baje, in ‘Aladdin Naam Toh...","rt @sabtv: jiska tha sabko intezaar, aa gaya h...","RT @sabtv: Jiska tha sabko intezaar, aa gaya h...",My photo,1035595645313110016,Twitter for Android,ALADDIN NAAM TOH SUNA HOGA-Mentions,ALADDINNAAMTOHSUNAHOGA-Mentions,False
3,4,TWITTER,http://www.twitter.com,http://twitter.com/Vikusikrus/statuses/1035588...,2018-08-31,14:02:28,2018-08-31 14:02:28,Vikusikrus,Viktoria_R,http://twitter.com/vikusikrus,5,226,43,FEMALE,Hindi,NaN,NaN,NaN,"मुंबई, भारत",NONE,NaN,NaN,NaN,"September ko raat 9 baje, in ‘Aladdin Naam Toh...","rt @sabtv: jiska tha sabko intezaar, aa gaya h...","RT @sabtv: Jiska tha sabko intezaar, aa gaya h...",Fan IshVeer and ViTharv,1035588647364567040,Twitter Web Client,ALADDIN NAAM TOH SUNA HOGA-Mentions,ALADDINNAAMTOHSUNAHOGA-Mentions,False
4,5,TWITTER,http://www.twitter.com,http://twitter.com/jiya_paul2/statuses/1035586...,2018-08-31,13:54:30,2018-08-31 13:54:30,jiya_paul2,Bhatakti aatma🌚👻,http://twitter.com/jiya_paul2,5,220,89,FEMALE,English,NaN,NaN,NaN,Kabristaan👻,NEUTRAL,entertainment;arts;,Product.grocery;Person.actor;,Aladdin;Siddharth Nigam;,week itself https://t.co/p1UYAoasbr @siddnigam...,rt @filmymonkey: #trp: woah! aladdin naam toh ...,RT @FilmyMonkey: #TRP: Woah!,NotABarbieGirl. living in my own world 🌹 Dilo...,1035586640855482369,Twitter for Android,ALADDIN NAAM TOH SUNA HOGA-Mentions,ALADDINNAAMTOHSUNAHOGA-Mentions,False

### Ratings

In [7]:
# ratings=pd.read_csv("ratings.csv")
# ratings.groupby('Showname').max().to_csv("max_ratings.csv")

In [8]:
ratings=pd.read_csv("max_ratings.csv")
train,test=train_test_split(ratings,test_size=0.3,random_state=211)

In [9]:
train.shape,test.shape

((56, 46), (24, 46))

In [10]:
train.head()

,Showname,W1,W2,W3,W4,W5,W6,W7,W8,W9,W10,W11,W12,W13,W14,W15,W16,W17,W18,W19,W20,W21,W22,W23,W24,W25,W26,W27,W28,W29,W30,W31,W32,W33,W34,W35,W36,W37,W38,W39,W40,W41,W42,W43,W44,W45
5,DEVONKEDEVMAHADEV-Mentions,0.71,0.75,0.71,0.62,0.73,0.66,0.65,0.50,0.73,1.08,0.93,0.78,0.77,0.58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,zeetv-shows-sa-re-ga-ma-pa-Mentions,1.17,0.97,1.06,0.81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,sonytv-show-prithvi-vallabh-Mentions,0.95,0.73,0.74,0.66,0.60,0.63,0.56,0.56,0.45,0.32,0.27,0.27,0.28,0.31,0.33,0.29,0.27,0.29,0.31,0.29,0.23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,ALADDINNAAMTOHSUNAHOGA-Mentions,1.99,2.29,1.96,1.80,1.63,1.55,1.58,1.27,1.24,1.23,1.13,0.94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BEECHWALEBAPUDEKHRAHAHAI-Mentions,0.53,0.39,0.37,0.42,0.39,0.34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
train[train.Showname=='BIGGBOSS-Mentions']

,Showname,W1,W2,W3,W4,W5,W6,W7,W8,W9,W10,W11,W12,W13,W14,W15,W16,W17,W18,W19,W20,W21,W22,W23,W24,W25,W26,W27,W28,W29,W30,W31,W32,W33,W34,W35,W36,W37,W38,W39,W40,W41,W42,W43,W44,W45
2,BIGGBOSS-Mentions,1.98,2.03,1.92,2.3,2.02,1.86,1.87,2.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
official_handle=["http://twitter.com/AndTVOfficial/","http://twitter.com/ColorsTV/","http://twitter.com/SonySABTV/","http://twitter.com/SonyTV/","http://twitter.com/StarPlus/","http://twitter.com/ZeeTV/"]
def get_data_by_days(shows,verbose=False):
    a=shows.Link.str.contains(r'(http://twitter.com/AndTVOfficial/|http://twitter.com/ColorsTV/|http://twitter.com/SonySABTV/|http://twitter.com/SonyTV/|http://twitter.com/StarPlus/|http://twitter.com/ZeeTV/)',regex=True)
    twitter=shows[~a].copy()
    twitter.reset_index(drop=True,inplace=True)
    twitter['clean_content']=twitter.Contents.str.replace(r"http.*[\s\n]","")
    dt_min=twitter.groupby('nname')['LocalTime'].min().to_frame().reset_index()
    dt_min['0_7_date']=dt_min['LocalTime'].apply(lambda x: x + dt.timedelta(days=7))
    dt_min['7_14_date']=dt_min['LocalTime'].apply(lambda x: x + dt.timedelta(days=14))
    dt_min['14_21_date']=dt_min['LocalTime'].apply(lambda x: x + dt.timedelta(days=21))
    dt_min['max_dt']=dt_min['LocalTime'].apply(lambda x: x + dt.timedelta(days=30))
    twitter2=twitter.merge(dt_min.drop('LocalTime',axis=1),on='nname',how='left')
    twitter2=twitter2[twitter2['LocalTime']<=twitter2.max_dt].copy()
    if verbose:
        print(twitter2.groupby('nname')['LocalTime'].apply(lambda x:max(x)-min(x)))
    return twitter2

In [13]:
nrows=train.shape[0]
brkup=(20,50,30)
first=round(nrows*brkup[0]/100.0)
second=round(nrows*brkup[1]/100.0)
thresholds=[0,first,first+second]
def avg_ratings(train):
    avg_train=pd.DataFrame()
    avg_train['first']=train.iloc[:,1:2].mean(skipna=True,axis=1)
    avg_train['first2']=train.iloc[:,1:3].mean(skipna=True,axis=1)
    avg_train['first3']=train.iloc[:,1:4].mean(skipna=True,axis=1)
    avg_train['first4']=train.iloc[:,1:5].mean(skipna=True,axis=1)
    avg_train['next_2_5']=train.iloc[:,2:6].mean(skipna=True,axis=1)
    avg_train['next_2_7']=train.iloc[:,2:8].mean(skipna=True,axis=1)
    avg_train['next_3_6']=train.iloc[:,3:7].mean(skipna=True,axis=1)
    avg_train['next_3_8']=train.iloc[:,5:9].mean(skipna=True,axis=1)
    avg_train['next_4_7']=train.iloc[:,4:8].mean(skipna=True,axis=1)
    avg_train['next_4_9']=train.iloc[:,4:10].mean(skipna=True,axis=1)
    avg_train['next_5_8']=train.iloc[:,5:9].mean(skipna=True,axis=1)
    avg_train['next_5_10']=train.iloc[:,5:11].mean(skipna=True,axis=1)
    avg_train['first4_ex1']=train.iloc[:,2:5].mean(skipna=True,axis=1)
    avg_train.index=train.Showname
    return avg_train

def cal_threshold(series):
    cutoff={}
    cutoff['first_cutoff']=np.min(series.values[:first])
    cutoff['second_cutoff']=np.min(series.values[first:first+second])
    return cutoff

def create_rank(series,cutoff):
    temp=series.copy()
    temp[:]=1
    temp[(series>=cutoff['second_cutoff']) & (series<cutoff['first_cutoff']) ]=2
    temp[series>=cutoff['first_cutoff']]=1
    temp[series<cutoff['second_cutoff']]=3
    return temp
    

def cal_err(train,srt="first4"):
    train_ranked=avg_ratings(train.copy())
    train_ranked.sort_values(srt,ascending=False,inplace=True)
    cutoff=cal_threshold(train_ranked[srt])
    print(cutoff)
    train_ranked2=train_ranked.apply(lambda series:create_rank(series,cutoff),axis='columns')
#     print("--------------------------------")
#     print("\n")
#     print(pd.crosstab(index=train[srt],columns=train.next4))
#     print("--------------------------------")
#     print("\n")
#     print(pd.crosstab(index=train[srt],columns=train.next6))
    return train_ranked,train_ranked2
#     return train_ranked

In [14]:
train_ratings,train_ratings_ranked=cal_err(train,srt='first')

{'first_cutoff': 1.92, 'second_cutoff': 0.73}

In [34]:
train_ratings.reset_index(inplace=True)
train_ratings.rename(columns={'Showname':'nname'},inplace=True)
train_ratings_ranked.reset_index(inplace=True)
train_ratings_ranked.rename(columns={'Showname':'nname'},inplace=True)
train_ratings.head()

,index,nname,first,first2,first3,first4,next_2_5,next_2_7,next_3_6,next_3_8,next_4_7,next_4_9,next_5_8,next_5_10,first4_ex1
0,0,colors-tv---show--dance-deewane-Mentions,3.05,2.790,2.700000,2.7150,2.6375,2.578333,2.6125,2.615,2.605000,2.703333,2.615,2.723333,2.603333
1,1,RADHAKRISHN-Mentions,2.51,2.315,2.103333,2.0375,1.9150,1.892000,1.8350,1.910,1.886667,1.886667,1.910,1.910000,1.880000
2,2,colorstv-show-bepannaah-Mentions,2.37,2.160,1.970000,1.8550,1.6000,1.508333,1.4300,1.335,1.377500,1.351667,1.335,1.363333,1.683333
3,3,KAUNBANEGACROREPATI-Mentions,2.35,2.340,2.266667,2.3125,2.4475,2.385000,2.4625,2.365,2.465000,2.353333,2.365,2.248333,2.300000
4,4,starplus-show-qayamat-ki-raat-Mentions,2.25,2.010,1.873333,1.8025,1.6975,1.750000,1.6975,1.810,1.782500,1.776667,1.810,1.755000,1.653333

In [16]:
train_ratings_ranked.head()

,first,first2,first3,first4,next_2_5,next_2_7,next_3_6,next_3_8,next_4_7,next_4_9,next_5_8,next_5_10,first4_ex1
Showname,,,,,,,,,,,,,
colors-tv---show--dance-deewane-Mentions,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
RADHAKRISHN-Mentions,1.0,1.0,1.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
colorstv-show-bepannaah-Mentions,1.0,1.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
KAUNBANEGACROREPATI-Mentions,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
starplus-show-qayamat-ki-raat-Mentions,1.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0

In [17]:
pd.crosstab(train_ratings_ranked['first'],train_ratings_ranked.next_3_8)

next_3_8  1.0  2.0  3.0
first
1.0         5    6    0
2.0         2   21    5
3.0         1    0   16

#### Get unique counts of tweets for shows and merge it with train_ratings

In [18]:
twitter2=get_data_by_days(twitter)
ncnt_t2=twitter2[twitter2.original].groupby('nname')['Unique ID'].nunique().to_frame().reset_index()
twitter2.nname.nunique()

S:\Anaconda\envs\py36\lib\site-packages\ipykernel_launcher.py:3: UserWarning:

This pattern has match groups. To actually get the groups, use str.extract.

71

In [19]:
cnt_t2=twitter2.groupby('nname')['Unique ID'].nunique().to_frame().reset_index()
cnt_t2.rename(columns={'Unique ID':'all_tweets'},inplace=True)
ncnt_t2.rename(columns={'Unique ID':'uniq_tweets'},inplace=True)

In [20]:
instagram=sm_pd_dict['INSTAGRAM'].copy()
print("With duplicates",instagram.shape)
instagram.drop_duplicates('Unique ID',keep='first',inplace=True)
print("WO duplicates",instagram.shape)
print()
instagram['Likes']=instagram.Likes.astype(int)
instagram['Comments']=instagram.Comments.astype(int)
instagram.head(2)

With duplicates (93649, 24)
WO duplicates (92496, 24)

,No,Source,Link,Date(ET),Time(ET),Author ID,Author Name,Language,Contents,HashTags,Likes,Comments,Attachments,Brand Images,Scene Images,Selfie,Sentiment,Themes,Classifications,Entities,Unique ID,showname,nname,LocalTime
0,1,INSTAGRAM,https://www.instagram.com/p/BnmWqA8lg1v/,2018-09-11,16:29:44,avneetkaur13_pearl,NaN,English,About today!❤️🌹promotions of Aladdin all over ...,workmode;alasmine;aladdin;promotions;aladdinna...,0,0,https://scontent.cdninstagram.com/vp/93c210235...,NaN,NaN,false,NEUTRAL,NaN,Product.grocery;organization;Time.day;Time.day...,Aladdin;Aladdin;Monday;Friday;Delhi;,201809IG18095312702958189779269,ALADDIN NAAM TOH SUNA HOGA-Mentions,ALADDINNAAMTOHSUNAHOGA-Mentions,2018-09-11 16:29:44
1,2,INSTAGRAM,https://www.instagram.com/p/BnmGKRcjNlQ/,2018-09-11,14:06:32,aladdin__fc,NaN,Unknown,New promo...! . @avneetkaur_13 @aamirdalvi @th...,baghdad;aladdinkachirag;alasmine;siddharthniga...,0,0,https://scontent.cdninstagram.com/vp/5c40b4187...,NaN,NaN,false,NONE,NaN,NaN,NaN,201809IG1809890536924116393182,ALADDIN NAAM TOH SUNA HOGA-Mentions,ALADDINNAAMTOHSUNAHOGA-Mentions,2018-09-11 14:06:32

In [21]:
instagram_subset=get_data_by_days(instagram)

S:\Anaconda\envs\py36\lib\site-packages\ipykernel_launcher.py:3: UserWarning:

This pattern has match groups. To actually get the groups, use str.extract.

In [22]:
insta_cnt=instagram_subset.groupby('nname')['Unique ID','Likes','Comments'].agg({'Unique ID':'count','Likes':'sum','Comments':'sum'}).reset_index()
insta_cnt.rename(columns={'Unique ID':'insta_cnt'},inplace=True)

In [23]:
news=sm_pd_dict['NEWS']
news=get_data_by_days(news)
print(news.head(2))
news_cnt=news.groupby('nname')['Link'].nunique().to_frame().reset_index()
news_cnt.rename(columns={'Link':'news_count'},inplace=True)
news_cnt

  No Source                          Host  \
0  1   NEWS  http://www.htsyndication.com
1  2   NEWS        https://www.abplive.in

                                                Link    Date(ET)  Time(ET)  \
0  http://www.htsyndication.com/htsportal/pioneer...  2018-08-25  16:39:53
1  https://www.abplive.in/videos/sab-tvs-new-show...  2018-08-22  10:43:36

            LocalTime          Author Name Authority Country Province/State  \
0 2018-08-25 16:39:53                  NaN         0      IN            NaN
1 2018-08-22 10:43:36  anushkap@abpnews.in         0      IN            NaN

  City Location Sentiment                                Themes  \
0  NaN       IN  POSITIVE  entertainment;arts;business;finance;
1  NaN       IN  POSITIVE                               sports;

                                     Classifications  \
0  Location.airport;Product.grocery;Time.month;Pe...
1  Location.airport;Product.grocery;Org.online_ne...

                                            Entities Alexa Rank Alexa Reach  \
0  Juancho E. Yrausquin Airport;Aladdin;August;Ma...     731117        1206
1  Juancho E. Yrausquin Airport;Aladdin;Blog;Cric...       3073      455400

                                               Title  \
0                 'TV offers me the exposure I need'
1  SAB TV's new show Aladdin's crew members celeb...

                                             Snippet  \
0  or republishing. India, Aug. 26 -- 18-year-old...
1  Evening Bulletin × Evening Bulletin Photos Vid...

                                            Contents  \
0  The article below represents a preview only an...
1  Evening Bulletin × Evening Bulletin Photos Vid...

                                             Summary  \
0  The article below represents a preview only an...
1                                                NaN

                              showname                            nname  \
0  ALADDIN NAAM TOH SUNA HOGA-Mentions  ALADDINNAAMTOHSUNAHOGA-Mentions
1  ALADDIN NAAM TOH SUNA HOGA-Mentions  ALADDINNAAMTOHSUNAHOGA-Mentions

                                       clean_content            0_7_date  \
0  The article below represents a preview only an... 2018-08-20 08:29:20
1  Evening Bulletin × Evening Bulletin Photos Vid... 2018-08-20 08:29:20

            7_14_date          14_21_date              max_dt
0 2018-08-27 08:29:20 2018-09-03 08:29:20 2018-09-12 08:29:20
1 2018-08-27 08:29:20 2018-09-03 08:29:20 2018-09-12 08:29:20

S:\Anaconda\envs\py36\lib\site-packages\ipykernel_launcher.py:3: UserWarning:

This pattern has match groups. To actually get the groups, use str.extract.

                                                nname  news_count
0                     ALADDINNAAMTOHSUNAHOGA-Mentions          16
1                                   BIGGBOSS-Mentions        1191
2                              CHANDRASHEKAR-Mentions           6
3                               COMEDYCIRCUS-Mentions          30
4                                 DILHITOHAI-Mentions          78
5                              DetectiveDidi-Mentions           8
6                        ENTERTAINMENTKIRAAT-Mentions          35
7                                     Guddan-Mentions           1
8                  HARSHAAKHPEULLUBAITHAAHAI-Mentions          70
9                        INDIAKEMASTKALANDAR-Mentions           4
10                           IndiasGotTalent-Mentions         198
11                        JIJAJICHHATPARHAIN-Mentions           7
12                      JIODHANDHANADHANLIVE-Mentions          25
13                       KAUNBANEGACROREPATI-Mentions         918
14                                   KHICHDI-Mentions           5
15                        KRISHNACHALILONDON-Mentions         102
16                      MAINMAIKECHALIJAUNGI-Mentions           1
17                              MAYAVIMALING-Mentions          24
18                                     NAZAR-Mentions          54
19                              PAPABYCHANCE-Mentions          43
20                               RADHAKRISHN-Mentions          25
21                         THEVOICEINDIAKIDS-Mentions           7
22                   andtv-show-perfect-pati-Mentions           6
23     andtvofficial-show-bitti-businesswali-Mentions           9
24             andtvofficial-show-high-fever-Mentions          19
25              andtvofficial-show-laal-ishq-Mentions           1
26          andtvofficial-show-love-me-india-Mentions          17
27   andtvofficial-show-mitegi-lakshmanrekha-Mentions           3
28          andtvofficial-show-vikram-betaal-Mentions          15
29           colors-tv---show--dance-deewane-Mentions          31
..                                                ...         ...
34                   colorstv-show-bepannaah-Mentions          24
35                         colorstv-show-dev-Mentions           7
36          colorstv-show-internet-wala-love-Mentions           1
37                       colorstv-show-kasam-Mentions           2
38                    colorstv-show-kaun-hai-Mentions           1
39  colorstv-show-silsila-badalte-rishton-ka-Mentions          16
40                       sony-tv--show---cid-Mentions           1
41                   sony-tv-show-dus-ka-dum-Mentions          72
42                  sony-tv-show-indian-idol-Mentions          20
43                       sonysab-show-namune-Mentions           2
44    sonysab-show-saat-phero-ki-hera-pherie-Mentions           5
45     sonysab-show-shriman-shrimati-phir-se-Mentions          23
46                  sonysab-show-supersister-Mentions           9
47                  sonytv-show-crime-patrol-Mentions           1
48               sonytv-show-prithvi-vallabh-Mentions          11
49                  star-plus-show-danceplus-Mentions          19
50        star-plus-show-dil-hai-hindustani--Mentions           7
51        starplus-show-kasautii-zindagi-kay-Mentions         126
52        starplus-show-kulfi-kumar-bajewala-Mentions           3
53             starplus-show-qayamat-ki-raat-Mentions         101
54            starplus-show-sabse-smart-kaun-Mentions          72
55         zee-tv---show---ishq-subhan-allah-Mentions          48
56                 zee-tv---show---juzzbaaat-Mentions          79
57                   zee-tv-shows-fear-files-Mentions           4
58                  zeetv---show---kaleerein-Mentions          13
59              zeetv-show-aap-ke-aa-jane-se-Mentions           5
60                zeetv-show-did-lil-masters-Mentions           1
61          zeetv-shows-india-best-dramebaaz-Mentions          36
62       zeetv-shows-maggie-kitchen-journeys-Mentions           3
63                zeetv-shows-sa-re-ga-ma-pa-Mentions         108

[64 rows x 2 columns]

In [24]:
tumblr=sm_pd_dict['TUMBLR']
tumblr=get_data_by_days(tumblr)
print(tumblr.head(2))
tumblr_cnt=tumblr.groupby('nname')['Unique ID'].nunique().to_frame().reset_index()
tumblr_cnt.rename(columns={'Unique ID':'tumblr_count'},inplace=True)
tumblr_cnt

  No  Source       Host                            Link    Date(ET)  Time(ET)  \
0  1  TUMBLR  tumblr.co  https://tmblr.co/ZoATfY2bm_Wtz  2018-09-11  19:07:39
1  2  TUMBLR  tumblr.co  https://tmblr.co/ZK8P4Z2bmAoDd  2018-09-11  10:11:25

            LocalTime Language Sentiment Themes Classifications Entities  \
0 2018-09-11 19:07:39  English      NONE    NaN             NaN      NaN
1 2018-09-11 10:11:25  English      NONE    NaN             NaN      NaN

                                               Title  \
0  <span class="map_highlight">Aladdin</span> - अ...
1         <span class="map_highlight">Aladdin</span>

                                             Snippet  \
0                                                NaN
1  Aladdin 12th September 2018 Full Episode&n...A...

                                            Contents  \
0                                                NaN
1  Aladdin 12th September 2018 Full Episode&nbsp;...

                                             Summary           Unique ID  \
0  <span class="map_highlight">Aladdin</span> - अ...  201809177989094909
1  Episode 17 in High Quality of <span class="map...  201809177975534439

                              showname                            nname  \
0  ALADDIN NAAM TOH SUNA HOGA-Mentions  ALADDINNAAMTOHSUNAHOGA-Mentions
1  ALADDIN NAAM TOH SUNA HOGA-Mentions  ALADDINNAAMTOHSUNAHOGA-Mentions

                                       clean_content            0_7_date  \
0                                                NaN 2018-08-23 13:37:53
1  Aladdin 12th September 2018 Full Episode&nbsp;... 2018-08-23 13:37:53

            7_14_date          14_21_date              max_dt
0 2018-08-30 13:37:53 2018-09-06 13:37:53 2018-09-15 13:37:53
1 2018-08-30 13:37:53 2018-09-06 13:37:53 2018-09-15 13:37:53

S:\Anaconda\envs\py36\lib\site-packages\ipykernel_launcher.py:3: UserWarning:

This pattern has match groups. To actually get the groups, use str.extract.

                                                nname  tumblr_count
0                     ALADDINNAAMTOHSUNAHOGA-Mentions            12
1                                   BIGGBOSS-Mentions           461
2                              CHANDRASHEKAR-Mentions             4
3                               COMEDYCIRCUS-Mentions            41
4                                 DILHITOHAI-Mentions            48
5                              DetectiveDidi-Mentions            38
6                        ENTERTAINMENTKIRAAT-Mentions            30
7                                     Guddan-Mentions            13
8                  HARSHAAKHPEULLUBAITHAAHAI-Mentions            12
9                        INDIAKEMASTKALANDAR-Mentions             4
10                           IndiasGotTalent-Mentions            45
11                        JIJAJICHHATPARHAIN-Mentions            27
12                      JIODHANDHANADHANLIVE-Mentions             7
13                       KAUNBANEGACROREPATI-Mentions           345
14                        KRISHNACHALILONDON-Mentions            36
15                      MAINMAIKECHALIJAUNGI-Mentions            19
16                              MAYAVIMALING-Mentions            32
17                                     NAZAR-Mentions            35
18                              PAPABYCHANCE-Mentions            64
19                               RADHAKRISHN-Mentions            14
20                         THEVOICEINDIAKIDS-Mentions            22
21                   andtv-show-perfect-pati-Mentions             7
22     andtvofficial-show-bitti-businesswali-Mentions             6
23             andtvofficial-show-high-fever-Mentions            11
24          andtvofficial-show-love-me-india-Mentions            21
25          andtvofficial-show-vikram-betaal-Mentions             6
26           colors-tv---show--dance-deewane-Mentions            12
27          colors-tv-show-dastan-e-mohabbat-Mentions            27
28                     colors-tv-show-naagin-Mentions            27
29                colors-tv-show-rising-star-Mentions             2
..                                                ...           ...
34                       colorstv-show-kasam-Mentions             7
35                    colorstv-show-kaun-hai-Mentions             1
36   colorstv-show-roop-mard-ka-naya-swaroop-Mentions             2
37  colorstv-show-silsila-badalte-rishton-ka-Mentions            13
38                       sony-tv--show---cid-Mentions            38
39                   sony-tv-show-dus-ka-dum-Mentions            23
40                  sony-tv-show-indian-idol-Mentions            11
41    sonysab-show-saat-phero-ki-hera-pherie-Mentions             4
42     sonysab-show-shriman-shrimati-phir-se-Mentions            13
43                  sonysab-show-supersister-Mentions            10
44                  sonytv-show-crime-patrol-Mentions            33
45               sonytv-show-prithvi-vallabh-Mentions            28
46           sonytv-show-zindagikecrossroads-Mentions             1
47   sonytv-shows-yeh-pyaar-nahi-tho-kya-hai-Mentions             7
48                  star-plus-show-danceplus-Mentions            19
49        star-plus-show-dil-hai-hindustani--Mentions             7
50        starplus-show-kasautii-zindagi-kay-Mentions            69
51        starplus-show-kulfi-kumar-bajewala-Mentions            18
52  starplus-show-mariam-khan-reporting-live-Mentions             1
53             starplus-show-qayamat-ki-raat-Mentions            29
54            starplus-show-sabse-smart-kaun-Mentions            20
55         zee-tv---show---ishq-subhan-allah-Mentions            47
56                 zee-tv---show---juzzbaaat-Mentions           361
57                   zee-tv-shows-fear-files-Mentions            27
58                  zeetv---show---kaleerein-Mentions            19
59              zeetv-show-aap-ke-aa-jane-se-Mentions            25
60                zeetv-show-did-lil-masters-Mentions             3
61          zeetv-shows-india-best-dramebaaz-Mentions            30
62       zeetv-shows-maggie-kitchen-journeys-Mentions             2
63                zeetv-shows-sa-re-ga-ma-pa-Mentions            25

[64 rows x 2 columns]

In [25]:
blogs=sm_pd_dict['BLOGS']
blogs=get_data_by_days(blogs)
print(blogs.head(2))
blogs_cnt=blogs.groupby('nname')['Link'].nunique().to_frame().reset_index()
blogs_cnt.rename(columns={'Link':'blogs_count'},inplace=True)
blogs_cnt

S:\Anaconda\envs\py36\lib\site-packages\ipykernel_launcher.py:3: UserWarning:

This pattern has match groups. To actually get the groups, use str.extract.

    No Source                       Host  \
12  13  BLOGS   http://aladdintv.me/feed
13  14  BLOGS  http://aladdintv.su/feed/

                                                 Link    Date(ET)  Time(ET)  \
12  http://aladdintv.me/aladdin-11th-september-201...  2018-09-10  13:07:48
13  http://aladdintv.su/watch-video-aladdin-10th-s...  2018-09-10  13:00:55

             LocalTime Author Name Authority Country Province/State City  \
12 2018-09-10 13:07:48       SabTV         0      ME            NaN  NaN
13 2018-09-10 13:00:55       sabtv         0     NaN            NaN  NaN

   Location Sentiment                           Themes  \
12       ME   NEUTRAL  business;finance;entertainment;
13      NaN   NEUTRAL                              NaN

                                      Classifications  \
12  Product.grocery;Location.state_or_province;Per...
13  Product.grocery;Location.state_or_province;Tim...

                                             Entities Alexa Rank Alexa Reach  \
12  Aladdin;Drama;The Kevin Bishop Show;September;...     762736         935
13                           Aladdin;Drama;September;     881914         666

                                          Title  \
12  Aladdin 11th September 2018 Full Episode 16
13  Aladdin 10th September 2018 Full Episode 15

                                              Snippet  \
12  first on Aladdin Sab Tv Serial Watch Online Fu...
13  Aladdin 10th September 2018 Full Episode 15 La...

                                             Contents  \
12  Watch Video Aladdin 11th September 2018 Full E...
13  Aladdin 10th September 2018 Full Episode 15 La...

                                              Summary  \
12                                                NaN
13  Aladdin 10th September 2018 Full Episode 15 La...

                               showname                            nname  \
12  ALADDIN NAAM TOH SUNA HOGA-Mentions  ALADDINNAAMTOHSUNAHOGA-Mentions
13  ALADDIN NAAM TOH SUNA HOGA-Mentions  ALADDINNAAMTOHSUNAHOGA-Mentions

                                        clean_content            0_7_date  \
12  Watch Video Aladdin 11th September 2018 Full E... 2018-08-18 18:17:47
13  Aladdin 10th September 2018 Full Episode 15 La... 2018-08-18 18:17:47

             7_14_date          14_21_date              max_dt
12 2018-08-25 18:17:47 2018-09-01 18:17:47 2018-09-10 18:17:47
13 2018-08-25 18:17:47 2018-09-01 18:17:47 2018-09-10 18:17:47

                                                nname  blogs_count
0                     ALADDINNAAMTOHSUNAHOGA-Mentions          198
1                   BEECHWALEBAPUDEKHRAHAHAI-Mentions            6
2                                   BIGGBOSS-Mentions         1776
3                              CHANDRASHEKAR-Mentions           37
4                               COMEDYCIRCUS-Mentions          349
5                                 DILHITOHAI-Mentions          393
6                              DetectiveDidi-Mentions           21
7                        ENTERTAINMENTKIRAAT-Mentions            8
8                                     Guddan-Mentions           15
9                  HARSHAAKHPEULLUBAITHAAHAI-Mentions           40
10                       INDIAKEMASTKALANDAR-Mentions          209
11                           IndiasGotTalent-Mentions           71
12                        JIJAJICHHATPARHAIN-Mentions            8
13                      JIODHANDHANADHANLIVE-Mentions           26
14                       KAUNBANEGACROREPATI-Mentions         1054
15                                   KHICHDI-Mentions            8
16                        KRISHNACHALILONDON-Mentions          292
17                      MAINMAIKECHALIJAUNGI-Mentions          135
18                              MAYAVIMALING-Mentions          194
19                                     NAZAR-Mentions           85
20                              PAPABYCHANCE-Mentions          154
21                               RADHAKRISHN-Mentions           46
22                         THEVOICEINDIAKIDS-Mentions            9
23                   andtv-show-perfect-pati-Mentions           37
24     andtvofficial-show-bitti-businesswali-Mentions           42
25             andtvofficial-show-high-fever-Mentions           96
26          andtvofficial-show-love-me-india-Mentions          127
27   andtvofficial-show-mitegi-lakshmanrekha-Mentions           61
28          andtvofficial-show-vikram-betaal-Mentions           44
29           colors-tv---show--dance-deewane-Mentions          396
..                                                ...          ...
40  colorstv-show-savitri-devi-college-and-hospita...           15
41  colorstv-show-silsila-badalte-rishton-ka-Mentions          440
42                       sony-tv--show---cid-Mentions           48
43                   sony-tv-show-dus-ka-dum-Mentions          348
44                  sony-tv-show-indian-idol-Mentions          375
45                       sonysab-show-namune-Mentions            1
46    sonysab-show-saat-phero-ki-hera-pherie-Mentions            8
47     sonysab-show-shriman-shrimati-phir-se-Mentions           29
48                  sonysab-show-supersister-Mentions           44
49                  sonytv-show-crime-patrol-Mentions          655
50               sonytv-show-prithvi-vallabh-Mentions           10
51           sonytv-show-zindagikecrossroads-Mentions            2
52   sonytv-shows-yeh-pyaar-nahi-tho-kya-hai-Mentions          490
53                  star-plus-show-danceplus-Mentions           62
54        star-plus-show-dil-hai-hindustani--Mentions          139
55        starplus-show-kasautii-zindagi-kay-Mentions          127
56        starplus-show-kulfi-kumar-bajewala-Mentions          118
57  starplus-show-mariam-khan-reporting-live-Mentions            1
58             starplus-show-qayamat-ki-raat-Mentions          355
59            starplus-show-sabse-smart-kaun-Mentions          296
60         zee-tv---show---ishq-subhan-allah-Mentions          103
61                 zee-tv---show---juzzbaaat-Mentions          120
62                   zee-tv-shows-fear-files-Mentions           11
63                  zeetv---show---kaleerein-Mentions            8
64              zeetv-show-aap-ke-aa-jane-se-Mentions           18
65                zeetv-show-did-lil-masters-Mentions            1
66                zeetv-show-ye-teri-galiyan-Mentions           14
67          zeetv-shows-india-best-dramebaaz-Mentions          220
68       zeetv-shows-maggie-kitchen-journeys-Mentions            9
69                zeetv-shows-sa-re-ga-ma-pa-Mentions          128

[70 rows x 2 columns]

In [26]:
forum=sm_pd_dict['FORUMS']
forum=get_data_by_days(forum)
print(forum.head(2))
forum_cnt=forum.groupby('nname')['Link'].nunique().to_frame().reset_index()
forum_cnt.rename(columns={'Link':'forum_count'},inplace=True)
forum_cnt

S:\Anaconda\envs\py36\lib\site-packages\ipykernel_launcher.py:3: UserWarning:

This pattern has match groups. To actually get the groups, use str.extract.

  No  Source                                               Host  \
0  1  FORUMS  http://www.india-forums.com/forum_topics.asp?F...
1  2  FORUMS  http://www.india-forums.com/forum_topics.asp?F...

                                                Link    Date(ET)  Time(ET)  \
0  http://www.india-forums.com/forum_posts.asp?TI...  2018-08-30  06:31:00
1  http://www.india-forums.com/forum_posts.asp?TI...  2018-08-30  05:24:00

            LocalTime Author Name Authority Country Location Sentiment  \
0 2018-08-30 06:31:00  Shelly_392         2      US       US  POSITIVE
1 2018-08-30 05:24:00      Guinea         2      US       US  POSITIVE

                                         Themes  \
0          business;finance;arts;entertainment;
1  science;business;finance;entertainment;arts;

                                     Classifications  \
0  Location.airport;Location.city;Person.actor;Pe...
1  Location.airport;Product.grocery;Product.groce...

                                            Entities Alexa Rank Alexa Reach  \
0  Juancho E. Yrausquin Airport;London;Nakuul Meh...      18685       69660
1  Juancho E. Yrausquin Airport;Aladdin;Star;Anmo...      18615       70020

                                               Title  \
0               IB's BARC Rating - Week 34 | 5022597
1  Anything Under the Sun 6 - Strictly IO-DT NT P...

                                             Snippet  \
0  Ishqbaaaz Impressions: 4517 ----> TRP = 2.1 No...
1  4 SONY SAB 352806 5 Sony Entertainment Televis...

                                            Contents  \
0  Ishqbaaaz Impressions: 4517 ----> TRP = 2.1 No...
1  BARC India Ratings: Aladdin Naam Toh Suna Hoga...

                                             Summary  \
0  Ishqbaaaz Impressions: 4517 ----> TRP = 2.1 No...
1  BARC India Ratings: Aladdin Naam Toh Suna Hoga...

                              showname                            nname  \
0  ALADDIN NAAM TOH SUNA HOGA-Mentions  ALADDINNAAMTOHSUNAHOGA-Mentions
1  ALADDIN NAAM TOH SUNA HOGA-Mentions  ALADDINNAAMTOHSUNAHOGA-Mentions

                                       clean_content            0_7_date  \
0  Ishqbaaaz Impressions: 4517 ----> TRP = 2.1 No... 2018-08-18 12:46:00
1  BARC India Ratings: Aladdin Naam Toh Suna Hoga... 2018-08-18 12:46:00

            7_14_date          14_21_date              max_dt
0 2018-08-25 12:46:00 2018-09-01 12:46:00 2018-09-10 12:46:00
1 2018-08-25 12:46:00 2018-09-01 12:46:00 2018-09-10 12:46:00

                                                nname  forum_count
0                     ALADDINNAAMTOHSUNAHOGA-Mentions           15
1                                   BIGGBOSS-Mentions           16
2                              CHANDRASHEKAR-Mentions            6
3                               COMEDYCIRCUS-Mentions           18
4                                 DILHITOHAI-Mentions           73
5                              DetectiveDidi-Mentions           71
6                        ENTERTAINMENTKIRAAT-Mentions           12
7                                     Guddan-Mentions           35
8                  HARSHAAKHPEULLUBAITHAAHAI-Mentions            9
9                        INDIAKEMASTKALANDAR-Mentions            2
10                           IndiasGotTalent-Mentions           15
11                        JIJAJICHHATPARHAIN-Mentions            1
12                       KAUNBANEGACROREPATI-Mentions           48
13                        KRISHNACHALILONDON-Mentions            8
14                      MAINMAIKECHALIJAUNGI-Mentions            6
15                              MAYAVIMALING-Mentions            4
16                                     NAZAR-Mentions           11
17                              PAPABYCHANCE-Mentions            3
18                               RADHAKRISHN-Mentions           15
19                         THEVOICEINDIAKIDS-Mentions            2
20                   andtv-show-perfect-pati-Mentions            1
21          andtvofficial-show-love-me-india-Mentions            4
22           colors-tv---show--dance-deewane-Mentions            3
23          colors-tv-show-dastan-e-mohabbat-Mentions            4
24                     colors-tv-show-naagin-Mentions           21
25                colors-tv-show-rising-star-Mentions            1
26             colorstv-show-belan-wali-bahu-Mentions           18
27                   colorstv-show-bepannaah-Mentions            5
28          colorstv-show-internet-wala-love-Mentions            3
29                       colorstv-show-kasam-Mentions            3
30                    colorstv-show-kaun-hai-Mentions            5
31   colorstv-show-roop-mard-ka-naya-swaroop-Mentions            3
32  colorstv-show-silsila-badalte-rishton-ka-Mentions            1
33                       sony-tv--show---cid-Mentions           12
34                   sony-tv-show-dus-ka-dum-Mentions           14
35                  sony-tv-show-indian-idol-Mentions            4
36     sonysab-show-shriman-shrimati-phir-se-Mentions            2
37                  sonysab-show-supersister-Mentions            1
38                  sonytv-show-crime-patrol-Mentions            8
39               sonytv-show-prithvi-vallabh-Mentions           25
40           sonytv-show-zindagikecrossroads-Mentions            3
41   sonytv-shows-yeh-pyaar-nahi-tho-kya-hai-Mentions            8
42                  star-plus-show-danceplus-Mentions            6
43        starplus-show-kasautii-zindagi-kay-Mentions           27
44        starplus-show-kulfi-kumar-bajewala-Mentions            7
45  starplus-show-mariam-khan-reporting-live-Mentions            1
46             starplus-show-qayamat-ki-raat-Mentions           18
47            starplus-show-sabse-smart-kaun-Mentions            8
48         zee-tv---show---ishq-subhan-allah-Mentions           21
49                 zee-tv---show---juzzbaaat-Mentions           10
50                   zee-tv-shows-fear-files-Mentions            2
51                  zeetv---show---kaleerein-Mentions           14
52              zeetv-show-aap-ke-aa-jane-se-Mentions           22
53                zeetv-show-ye-teri-galiyan-Mentions            3
54          zeetv-shows-india-best-dramebaaz-Mentions           11
55                zeetv-shows-sa-re-ga-ma-pa-Mentions            2

In [35]:
train_data=train_ratings_ranked.merge(ncnt_t2,on='nname',how='left').merge(cnt_t2,on='nname',how='left').merge(insta_cnt,on='nname',how='left').merge(news_cnt,on='nname',how='left').merge(tumblr_cnt,on='nname',how='left').merge(blogs_cnt,on='nname',how='left').merge(forum_cnt,on='nname',how='left')

In [36]:
train_data.head()

,nname,first,first2,first3,first4,next_2_5,next_2_7,next_3_6,next_3_8,next_4_7,next_4_9,next_5_8,next_5_10,first4_ex1,uniq_tweets,all_tweets,insta_cnt,Likes,Comments,news_count,tumblr_count,blogs_count,forum_count
0,colors-tv---show--dance-deewane-Mentions,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,6361.0,32637.0,804.0,28161.0,636.0,31.0,12.0,396.0,3.0
1,RADHAKRISHN-Mentions,1.0,1.0,1.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,1610.0,6604.0,1742.0,16960.0,479.0,25.0,14.0,46.0,15.0
2,colorstv-show-bepannaah-Mentions,1.0,1.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,3305.0,42872.0,1602.0,513653.0,5304.0,24.0,78.0,409.0,5.0
3,KAUNBANEGACROREPATI-Mentions,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,11273.0,41832.0,530.0,14230.0,381.0,918.0,345.0,1054.0,48.0
4,starplus-show-qayamat-ki-raat-Mentions,1.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2114.0,5026.0,148.0,3936.0,115.0,101.0,29.0,355.0,18.0

In [29]:
train_data[train_data.uniq_tweets.isna()]

,nname,first,first2,first3,first4,next_2_5,next_2_7,next_3_6,next_3_8,next_4_7,next_4_9,next_5_8,next_5_10,first4_ex1,uniq_tweets,all_tweets,insta_cnt,Likes,Comments,news_count,tumblr_count,blogs_count,forum_count
10,zeetv-shows-tujhse-hai-rabta-Mentions,1.92,1.655,1.486667,1.450000,1.435000,1.538333,1.5425,1.8250,1.6725,1.791667,1.8250,1.861667,1.293333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,KARNSANGINI-Mentions,0.88,0.755,0.683333,0.683333,0.585000,0.585000,0.5400,NaN,NaN,NaN,NaN,NaN,0.585000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,SAVDHAANINDIA-INDIAFIGHTSBACK-Mentions,0.81,0.750,0.700000,0.665000,0.597500,0.543333,0.5350,0.4675,0.4925,0.483333,0.4675,0.475000,0.616667,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,DEVONKEDEVMAHADEV-Mentions,0.71,0.730,0.723333,0.697500,0.702500,0.686667,0.6800,0.6350,0.6650,0.648333,0.6350,0.725000,0.693333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,MUSKAAN-Mentions,0.56,0.605,0.606667,0.615000,0.640000,0.663333,0.6475,0.7200,0.6800,0.731667,0.7200,0.775000,0.633333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,TEDTALKSINDIANAYISOCH-Mentions,0.35,0.350,0.330000,0.315000,0.303333,0.303333,0.2800,NaN,0.2700,0.270000,NaN,NaN,0.303333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [67]:
train_data.tail(10)

,nname,first,first2,first3,first4,next_2_5,next_2_7,next_3_6,next_3_8,next_4_7,next_4_9,next_5_8,next_5_10,first4_ex1,uniq_tweets,all_tweets,insta_cnt,Likes,Comments,news_count,tumblr_count,blogs_count,forum_count,retweets
44,THEVOICEINDIAKIDS-Mentions,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,109.0,639.0,45.0,6822.0,78.0,7.0,22.0,9.0,2.0,5.862385
46,BEECHWALEBAPUDEKHRAHAHAI-Mentions,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,1861.0,5793.0,273.0,2535.0,57.0,0.0,0.0,6.0,0.0,3.112843
47,sonysab-show-namune-Mentions,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,959.0,1891.0,86.0,1974.0,46.0,2.0,0.0,1.0,0.0,1.971846
48,sonytv-show-crime-patrol-Mentions,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,98.0,360.0,26.0,1073.0,75.0,1.0,33.0,655.0,8.0,3.673469
49,sonysab-show-shriman-shrimati-phir-se-Mentions,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,141.0,353.0,6.0,625.0,22.0,23.0,13.0,29.0,2.0,2.503546
51,DILHITOHAI-Mentions,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,1003.0,5196.0,355.0,12000.0,266.0,78.0,48.0,393.0,73.0,5.180459
52,JIODHANDHANADHANLIVE-Mentions,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,285.0,7148.0,56.0,6865.0,212.0,25.0,7.0,26.0,0.0,25.080702
53,zee-tv---show---juzzbaaat-Mentions,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,4988.0,21262.0,1004.0,92382.0,1055.0,79.0,361.0,120.0,10.0,4.262630
54,andtvofficial-show-mitegi-lakshmanrekha-Mentions,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,58.0,323.0,40.0,287.0,13.0,3.0,0.0,61.0,0.0,5.568966
55,andtvofficial-show-bitti-businesswali-Mentions,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,3.0,65.0,141.0,12.0,1338.0,18.0,9.0,6.0,42.0,0.0,2.169231

In [50]:
train_data.dropna(subset=['uniq_tweets'],axis='index',inplace=True)
train_data.fillna(0,inplace=True)
train_data['retweets']=train_data.all_tweets/train_data.uniq_tweets

In [61]:
features=['first','uniq_tweets', 'all_tweets','retweets','insta_cnt', 'Likes','Comments', 'news_count', 'tumblr_count', 'blogs_count', 'forum_count']
features_rm_first=['uniq_tweets', 'all_tweets','retweets','insta_cnt', 'Likes','Comments', 'news_count', 'tumblr_count', 'blogs_count', 'forum_count']

In [62]:
lr=LogisticRegression()
lr.fit(train_data[features_rm_first],train_data.next_2_5)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [54]:
lr.predict(train_data[features])

array([1., 2., 2., 1., 2., 1., 2., 1., 1., 2., 3., 2., 2., 3., 2., 2., 2.,
       2., 2., 2., 3., 2., 3., 1., 2., 2., 2., 3., 2., 2., 2., 2., 3., 2.,
       3., 3., 3., 3., 2., 3., 3., 3., 3., 3., 3., 2., 2., 3., 3., 3.])

In [63]:
confusion_matrix(train_data.next_2_5,lr.predict(train_data[features_rm_first]))

array([[ 5,  0,  0],
       [ 1, 19,  5],
       [ 0, 13,  7]], dtype=int64)

In [60]:
pd.crosstab(train_data.next_2_5,train_data['first'])

first     1.0  2.0  3.0
next_2_5
1.0         5    0    0
2.0         5   20    0
3.0         0    6   14

In [65]:
lr.score(train_data[features_rm_first],train_data.next_2_5)

0.62

In [ ]:
lr.

In [ ]:
def classification_rslt(cls,train,feature_list,y,test_data=None):
    cls.fit(train[feature_list],y)